---
layout: default
---

<div class="home">
  {% for post in site.posts %}

    {% if post != site.posts.first %}
      <div class='single-post'>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2 class="post-title">
          {% if post.helabs == true %}
            <a class="post-link" href="{{ post.link }}">{{ post.title }}</a>
          {% else %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h2>

        <div class="post-excerpt">
          {{ post.excerpt }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</div>
