@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
  background: #0b0a01;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
}

.wrapper {
  @include outer-container;
}

.page-content .wrapper {
  width: 700px;
  margin: 0 auto;
}

.site-header {
  height: 555px;
  background: url('/images/bg.jpg') no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.site-title {
  text-indent: -999em;
  background: url('/images/logo.png') no-repeat top left;
  display: block;
  width: 258px;
  height: 31px;
  margin: 30px auto 25px;
}

.site-nav {
  border-top: 1px #fff solid;
  padding-top: 10px;
  text-align: center;
  display: none;

  a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin: 0 30px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  border: 2px #fff solid;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}

.site-feature {
  text-align: center;
  color: #fff;
  width: 80%;
  margin: 90px auto;

  h1 {
    font-size: em(60);
    font-weight: bold;
  }

  p {
    font-size: em(18);
    line-height: 1.5;
  }

  .button {
    margin: 20px 0;
  }
}

.home {
  margin: 40px 0;
  color: #fff;
}

.single-post {
  margin-bottom: 60px;

  .post-meta {
    background: #fff;
    padding: 5px 10px;
    color: #333;
    font-size: 11px;
  }

  .post-excerpt {
    a {
      color: #ecd617;
    }
  }

  .post-title {
    a {
      color: #fff;
      text-decoration: none;
      font-size: em(24);
    }
  }
}

.site-footer {
  text-align: center;

  li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
  }

  svg {
    width: 30px;
  }
}

@media only screen and (max-width: 767px), only screen and (max-width: 767px) and (orientation: portrait), only screen and (max-width:960px) {
  .site-header {
    height: auto;
  }

  .page-content .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .single-post {
    padding: 0 20px;
  }
}